@use "vars";

div.conjuntoProductos {
    display: flex;

    div.producto {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        border: solid 0.2rem vars.$color_letra_menu;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        min-width: 240px;

        h3 {
            font-size: 1.5rem;
            text-align: center;
            margin: 0.5rem;
        }

        p {
            color: #333333;
            text-align: center;
            margin: 0.5rem;
        }

        div.precio {
            display: flex;
            justify-content: center;
            align-items: center;

            * {
                margin: 1rem 0.5rem;
            }

            h4 {
                font-size: 1.25rem;

                & span {

                    text-decoration: line-through;
                    color: #333333;
                }
            }
        }

        button {
            background-color: vars.$color_elemento_menu;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
    
            &:hover {
                background-color: vars.$color_fondo_menu;
                outline: solid 2px vars.$color_letra_menu;
            }
        }
    }
}