@use "vars";

header div.desktop {
    background-color: vars.$color_fondo_menu;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    outline: solid 2px vars.$color_letra_menu;
    position: sticky;
    top: 0;
    z-index: 8;

    img {
        width: fit-content;
        margin-left: 1rem;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                position: relative;
                padding: vars.$paddingheader;
                color: vars.$color_letra_menu;
                background-color: vars.$color_elemento_menu;
                min-width: 9rem;
                border-radius: 1.5rem;
                text-align: center;
                margin: 0.5rem;
                font-size: 1.25rem;
                transition: 0.25s;

                a {
                    text-decoration: none;
                    color: vars.$color_letra_menu;
                }

                &:hover {
                    background-color: vars.$color_elemento_seleccionado;
                    outline: solid 5px vars.$color_elemento_menu;
                }
            }
        }

        ul li:hover ul.subMenu {
            display: flex;
            visibility: visible;
            opacity: 1;
        }

        ul.subMenu {
            margin: 0 1rem;
            width: 11rem;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            flex-direction: column;
            position: absolute;
            top: 5rem;
            left: -1rem;
            z-index: 9;
            background-color: vars.$color_fondo_menu;
            padding-bottom: 1rem;
            border-radius: 0 0 2.5rem 2.5rem;

            li {
                padding: 0.5rem;
                width: 9rem;
                font-size: 1rem;
                background-color: vars.$color_elemento_menu;

                &:hover {
                    background-color: vars.$color_elemento_seleccionado;
                    outline: solid 2px vars.$color_elemento_menu;
                }

            }
        }

    }
}

@media only screen and (max-width: 1239px) {
    li{
        min-width: 5rem !important;

        ul.submenu{
            min-width: 7rem !important;
        }

        *{
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 890px) {
    header div.mobile {
        display: flex !important;
    }

    header div.desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 890px) {
    header div.mobile {
        display: none !important;
    }

    header div.desktop {
        display: flex !important;
    }
}

header div.mobile {
    background-color: vars.$color_fondo_menu;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    outline: solid 2px vars.$color_letra_menu;
    position: sticky;
    top: 0;
    z-index: 8;
    padding: 0 0.5rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;

        &.mobileNav {
            background-color: vars.$color_elemento_menu;
            border-radius: 2rem;
            padding: 0.5rem;
        }

        &:not(.mobileNav){
            display: flex;
            justify-content: center;
            align-items: center;
            width: 7rem;
            height: 7rem;
            padding-left: 0.5rem;
            
            img{
                height: 7rem;
                width: 7rem;       
            }
        }

        img.elementMenu {
            height: 4rem;
            width: 4rem;
        }
    }
}


nav#menuBusqueda {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: margin-left 0.75s;
    width: 15rem;
    position: fixed;
    height: 200vh;
    top: 0;
    bottom: 0;
    background-color: vars.$color_fondo_menu;
    padding: 0 2rem 0 1rem;
    border-right: solid 2px vars.$color_letra_menu;
    font-size: 0.75rem;
    margin-left: -20rem;
    z-index: 9;

    h3 {
        color: vars.$color_letra_menu;
    }

    input[type=text] {
        border-radius: 0.5rem;
        padding: 0.5rem;
        outline: solid 1px vars.$color_letra_menu;
        border: 0;

        &:focus {
            outline: solid 2px vars.$color_letra_menu;
        }
    }

    fieldset {
        background-color: vars.$color_elemento_menu;
        border: solid 1px vars.$color_letra_menu;
        margin: 0.75rem 0;
        min-height: 1rem;
        border-radius: 0.5rem;

        legend {
            background-color: #ffffff;
            border-radius: 1rem;
            padding: 0.25rem 0.5rem;
            cursor: pointer;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &.hidden {
                display: none;
            }
        }

        div#inputPrecio {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &.hidden {
                display: none;
            }

            input[type=number] {
                width: 8rem;
            }
        }

        div#radioCurrency {
            margin-top: 0.5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &.hidden {
                display: none;
            }
        }
    }

    input[type=submit] {
        background-color: #ffffff;
        border: solid 1px vars.$color_letra_menu;
        padding: 0.5rem 1rem;
        border-radius: 1rem;

        &:hover {
            outline: solid 2px vars.$color_letra_menu;
            background-color: vars.$color_elemento_menu;
        }
    }

    &.reveal {
        margin-left: 0;
    }
}