@use "vars";

section#hero {
    min-height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    outline: solid 0.15rem vars.$color_letra_menu;
    background: linear-gradient(60deg, #d8f4ff, #d8ffef, #d8ffe0, #d8ffef);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    img {
        margin: 0;
        width: 25rem;
    }

    button {
        background-color: #ffffff;
        border: solid 1px vars.$color_letra_menu;
        padding: 0.5rem 1rem;
        border-radius: 1rem;

        &:hover {
            outline: solid 2px vars.$color_letra_menu;
            background-color: vars.$color_fondo_menu;
        }
    }

    & h1{
        font-size: 2rem;
    }
}

section.mainBox{
    max-width: 80vw;
    background-color: vars.$color_fondo_boxed;
    margin: auto;
    padding: 2rem 2rem;
    border-radius: 2rem;
    margin-top: 2rem;

    *{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    h1{
        margin-bottom: 2rem;
    }

    img.icoCat {
        max-width: 32px;
        max-height: 32px;
        margin: 0.2rem;
    }

    ul.cat1{
        margin-right: 2rem;
        display: flex;
        list-style: none;
        gap: 1.5rem;
        align-items: flex-start;
        justify-content: space-around;
        
        li{
            margin: 0;

            ul.cat2{
                list-style: none;
                display: flex;
                flex-direction: column;
                margin: 0;

                &>li{
                    margin: 0.4rem 0;
                }
            }
        }

        a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            text-decoration: none;
            color: black;
            background-color: vars.$color_elemento_menu;
            padding: 0.5rem 1rem;
            border-radius: 1rem;

            &:hover{
                background-color: vars.$color_fondo_menu;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
            }
        }
    }
}

