@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
//font-family: 'Poppins', sans-serif;

$paddingheader: 1rem;
$ancho_pagina: 960px;
/*
$color_beige: #fffbb4; //Fondo página
$color_amarillo_cla: #f1e369; //Elementos de menu sin seleccionar
$color_amarillo_osc: #eeb713; //Menus fondo
$color_blanco: #f9f9f9;
$color_marron: #49382e;
*/
$color_fondo_menu: #f1e369;
$color_elemento_menu: #fffbb4;
$color_elemento_seleccionado: #f7e640;
$color_letra_menu: #49382e;
$color_fondo_boxed: #fffff5;
$color_fondo_pagina: #fffcc7;

$color_variante_amarillo: #fdf79c;
$color_variante_beige: #e8dfb0;
$color_variante_naranja: #fccd9c;
$color_variante_marron: #c09f7b;
$color_variante_negro: #808080;
$color_variante_verde: #89dba1;
$color_variante_azul: #94ccde;
$color_variante_rosa: #fcc8c0;