@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/*
$color_beige: #fffbb4; //Fondo página
$color_amarillo_cla: #f1e369; //Elementos de menu sin seleccionar
$color_amarillo_osc: #eeb713; //Menus fondo
$color_blanco: #f9f9f9;
$color_marron: #49382e;
*/
header {
  background-color: #f1e369;
  display: flex;
  justify-content: space-between;
  height: 7rem;
  outline: solid 2px #49382e;
  position: sticky;
  top: 0;
}
header img {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 1rem;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  position: relative;
  padding: 1rem;
  color: #49382e;
  background-color: #fffbb4;
  width: 9rem;
  border-radius: 1.5rem;
  text-align: center;
  margin: 0.5rem;
  font-size: 1.25rem;
  transition: 0.25s;
}
header nav ul li a {
  text-decoration: none;
  color: #49382e;
}
header nav ul li:hover {
  background-color: #f7e640;
  outline: solid 5px #fffbb4;
}
header nav ul li:hover ul.subMenu {
  display: flex;
  visibility: visible;
  opacity: 1;
}
header nav ul.subMenu {
  margin: 0 1rem;
  width: 11rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  left: -1rem;
  z-index: 9;
  background-color: #f1e369;
  padding-bottom: 1rem;
  border-radius: 0 0 2.5rem 2.5rem;
}
header nav ul.subMenu li {
  padding: 0.5rem;
  width: 9rem;
  font-size: 1rem;
  background-color: #fffbb4;
}
header nav ul.subMenu li:hover {
  background-color: #f7e640;
  outline: solid 2px #fffbb4;
}

nav#menuBusqueda {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: margin-left 0.75s;
  width: 15rem;
  position: fixed;
  height: 200vh;
  top: 0;
  bottom: 0;
  background-color: #f1e369;
  padding: 0 2rem 0 1rem;
  border-right: solid 2px #49382e;
  font-size: 0.75rem;
  margin-left: -20rem;
}
nav#menuBusqueda h3 {
  color: #49382e;
}
nav#menuBusqueda input[type=text] {
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: solid 1px #49382e;
  border: 0;
}
nav#menuBusqueda input[type=text]:focus {
  outline: solid 2px #49382e;
}
nav#menuBusqueda fieldset {
  background-color: #fffbb4;
  border: solid 1px #49382e;
  margin: 0.75rem 0;
  min-height: 1rem;
  border-radius: 0.5rem;
}
nav#menuBusqueda fieldset legend {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
nav#menuBusqueda fieldset div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav#menuBusqueda fieldset div.hidden {
  display: none;
}
nav#menuBusqueda fieldset div#inputPrecio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
nav#menuBusqueda fieldset div#inputPrecio.hidden {
  display: none;
}
nav#menuBusqueda fieldset div#inputPrecio input[type=number] {
  width: 8rem;
}
nav#menuBusqueda fieldset div#radioCurrency {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav#menuBusqueda fieldset div#radioCurrency.hidden {
  display: none;
}
nav#menuBusqueda input[type=submit] {
  background-color: #ffffff;
  border: solid 1px #49382e;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
nav#menuBusqueda input[type=submit]:hover {
  outline: solid 2px #49382e;
  background-color: #fffbb4;
}
nav#menuBusqueda.reveal {
  margin-left: 0;
}

* {
  --outline: solid 1px red;
}

footer {
  background-color: #f1e369;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  outline: solid 2px #49382e;
}
footer * {
  margin: 0.4rem;
  font-weight: 300;
  color: #49382e;
}
footer a {
  text-decoration: none;
}
footer ul {
  list-style: none;
  display: flex;
  text-align: center;
  padding: 0;
  justify-content: center;
  align-items: center;
}
footer ul li {
  width: 15rem;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

main {
  background-color: #fffcc7;
  margin: 0;
  padding: 2rem 0 2rem 0;
}

section.boxed {
  max-width: 960px;
  background-color: #fffff5;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
}
section.boxed h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #49382e;
}
section.boxed * {
  margin-left: 2rem;
  margin-right: 2rem;
}
section.boxed p {
  margin-bottom: 3rem;
}
section.boxed iframe {
  margin-top: 1rem;
  border: 0;
}
section.boxed div.col2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}
section.boxed div.col2 div.variantSelected {
  background-color: #FFFFFF;
  flex: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #49382e;
  border-radius: 1.5rem;
}
section.boxed div.col2 div.variantSelected img {
  height: 192px;
  margin: 0;
}
section.boxed div.col2 div.productInfo {
  border: solid 2px #49382e;
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  flex: 2.5;
  margin: 0;
}
section.boxed div.col2 div.productInfo div.cost {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 1rem;
  gap: 0.5rem;
}
section.boxed div.col2 div.productInfo div.cost div {
  display: flex;
  align-items: center;
  margin: 0;
}
section.boxed div.col2 div.productInfo div.cost div.hidden {
  display: none;
}
section.boxed div.col2 div.productInfo div.cost h2 {
  font-size: 1.25rem;
  margin: 0 0 0 1rem;
}
section.boxed div.col2 div.productInfo div.cost img.material {
  height: 32px;
  margin: 0;
}
section.boxed div.col2 div.productInfo h4,
section.boxed div.col2 div.productInfo h2 {
  margin: 1rem;
}
section.boxed div.col2 div.productInfo p {
  margin: 1rem;
}
section.boxed div.col2 div.productInfo div.variantSelector {
  margin: 1rem;
}
section.boxed div.col2 div.productInfo div.variantSelector button {
  height: 32px;
  width: 32px;
  margin: 0.2rem;
  border-radius: 50%;
  border: solid 2px #cccccc;
}
section.boxed div.col2 div.productInfo div.variantSelector button:hover {
  border: solid 2px #49382e;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varAmarillo {
  background-color: #fdf79c;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varBeige {
  background-color: #e8dfb0;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varNaranja {
  background-color: #fccd9c;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varMarron {
  background-color: #c09f7b;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varNegro {
  background-color: #808080;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varVerde {
  background-color: #89dba1;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varAzul {
  background-color: #94ccde;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varRosa {
  background-color: #fcc8c0;
}
section.boxed div.col2 div.productInfo form {
  margin: 1rem;
}
section.boxed div.col2 div.productInfo form input[type=button] {
  border: 0;
  margin: 0.5rem 0 0rem 0rem;
  padding: 0.75rem 1rem;
  color: #49382e;
  background-color: #fffbb4;
  font-size: 1.25rem;
  border-radius: 1rem;
}
section.boxed div.col2 div.productInfo form input[type=button]:hover {
  background-color: #f7e640;
  outline: solid 2px #49382e;
}
section.boxed div.tecnicalData {
  margin: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
section.boxed div.tecnicalData table {
  width: 100%;
  text-align: center;
  margin: 0;
  border-spacing: 4px 0;
}
section.boxed div.tecnicalData table th {
  background-color: #fffbb4;
  border: solid 2px #49382e;
  border-radius: 1.5rem 1.5rem 0 0;
  border-bottom: 0;
}
section.boxed div.tecnicalData table td {
  background-color: #FFFFFF;
  border-radius: 0 0 1.5rem 1.5rem;
  border: solid 2px #49382e;
  border-top: 0;
}
section.boxed div.description {
  background-color: #FFFFFF;
  margin: 2rem;
  border: solid 2px #49382e;
  border-radius: 2rem;
  padding: 0rem 1rem;
}
section.boxed div.description p {
  text-align: justify;
  margin: 2rem 0;
}

dialog {
  border-radius: 2rem;
  border: solid 2px #49382e;
}
dialog form {
  padding: 0.5rem;
}
dialog form input {
  margin: 1rem 0;
  border: 0;
  padding: 0.75rem 1rem;
  color: #49382e;
  background-color: #fffbb4;
  border-radius: 1.5rem;
}
dialog form input:hover {
  background-color: #f7e640;
  outline: solid 2px #49382e;
}/*# sourceMappingURL=style.css.map */