@use "vars";
@use "header";
@use "footer";
@use "micuenta";
@use "contacto";

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

main {
    background-color: vars.$color_fondo_pagina;
    margin: 0;
    padding: 2rem 0 2rem 0;
}

section.boxed {
    max-width: vars.$ancho_pagina;
    background-color: vars.$color_fondo_boxed;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 2rem;

    h1 {
        font-size: 2rem;
        padding-bottom: 1rem;
        color: vars.$color_letra_menu;
    }

    * {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    p {
        margin-bottom: 3rem;
    }

    iframe {
        margin-top: 1rem;
        border-radius: 1rem;
        border: 0.2rem solid vars.$color_letra_menu;
    }

    div.col2 {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 1rem;

        div.variantSelected {
            background-color: #FFFFFF;
            flex: 1;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 2px vars.$color_letra_menu;
            border-radius: 1.5rem;

            img {
                height: 192px;
                margin: 0;
            }
        }

        div.productInfo {
            border: solid 2px vars.$color_letra_menu;
            background-color: #FFFFFF;
            border-radius: 1.5rem;
            flex: 2.5;
            margin: 0;

            div.cost {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                margin-left: 1rem;
                gap: 0.5rem;

                div {
                    display: flex;
                    align-items: center;
                    margin: 0;

                    &.hidden {
                        display: none;
                    }
                }

                h2 {
                    font-size: 1.25rem;
                    margin: 0 0 0 1rem;
                }

                img.material {
                    height: 32px;
                    margin: 0;
                }
            }

            h4,
            h2 {
                margin: 1rem;
            }

            p {
                margin: 1rem;
            }

            div.variantSelector {
                margin: 1rem;

                button {
                    height: 32px;
                    width: 32px;
                    margin: 0.2rem;
                    border-radius: 50%;
                    border: solid 2px #cccccc;

                    &:hover {
                        border: solid 2px vars.$color_letra_menu;
                    }

                    &.varAmarillo {
                        background-color: vars.$color_variante_amarillo;
                    }

                    &.varBeige {
                        background-color: vars.$color_variante_beige;
                    }

                    &.varNaranja {
                        background-color: vars.$color_variante_naranja;
                    }

                    &.varMarron {
                        background-color: vars.$color_variante_marron;
                    }

                    &.varNegro {
                        background-color: vars.$color_variante_negro;
                    }

                    &.varVerde {
                        background-color: vars.$color_variante_verde;
                    }

                    &.varAzul {
                        background-color: vars.$color_variante_azul;
                    }

                    &.varRosa {
                        background-color: vars.$color_variante_rosa;
                    }
                }
            }

            form {
                margin: 1rem;

                input[type=button] {
                    border: 0;
                    margin: 0.5rem 0 0rem 0rem;
                    padding: 0.75rem 1rem;
                    color: vars.$color_letra_menu;
                    background-color: vars.$color_elemento_menu;
                    font-size: 1.25rem;
                    border-radius: 1rem;

                    &:hover {
                        background-color: vars.$color_elemento_seleccionado;
                        outline: solid 2px vars.$color_letra_menu;
                    }
                }
            }
        }
    }

    div.tecnicalData {
        margin: 2rem;
        height: fit-content;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        table {
            width: 100%;
            text-align: center;
            margin: 0;
            border-spacing: 4px 0;

            th {
                background-color: vars.$color_elemento_menu;
                border: solid 2px vars.$color_letra_menu;
                border-radius: 1.5rem 1.5rem 0 0;
                border-bottom: 0;
            }

            td {
                background-color: #FFFFFF;
                border-radius: 0 0 1.5rem 1.5rem;
                border: solid 2px vars.$color_letra_menu;
                border-top: 0;
            }
        }
    }

    div.description {
        background-color: #FFFFFF;
        margin: 2rem;
        border: solid 2px vars.$color_letra_menu;
        border-radius: 2rem;
        padding: 0rem 1rem;

        p {
            text-align: justify;
            margin: 2rem 0;
        }
    }
}

dialog {
    border-radius: 2rem;
    border: solid 2px vars.$color_letra_menu;

    form {
        padding: 0.5rem;

        input {
            margin: 1rem 0;
            border: 0;
            padding: 0.75rem 1rem;
            color: vars.$color_letra_menu;
            background-color: vars.$color_elemento_menu;
            border-radius: 1.5rem;

            &:hover {
                background-color: vars.$color_elemento_seleccionado;
                outline: solid 2px vars.$color_letra_menu;
            }
        }
    }
}

main.login {
    text-align: center;

    div.login {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        div.column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;

            div.hidden {
                display: none;
            }
        }

        div#recoverPassword {
            margin: 0;
        }

        div form {
            text-align: left;
            width: 18rem;
            padding: 3rem 1rem;
            border-radius: 2rem;
            border: solid 2px vars.$color_letra_menu;
            background-color: vars.$color_elemento_menu;
            margin: 0rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            input[type=text],
            input[type=password],
            input[type=mail] {
                border-radius: 0.5rem;
                padding: 0.5rem;
                outline: solid 1px vars.$color_letra_menu;
                border: 0;
                color: vars.$color_letra_menu;

                &:focus {
                    outline: solid 2px vars.$color_letra_menu;
                }
            }

            div {
                display: flex;
                align-items: center;
                margin: 0.5rem 2rem;

                input[type=checkbox] {
                    margin: 0;
                }

                label {
                    margin: 0 0 0 0.5rem;
                    font-size: 0.65rem;
                }
            }

            input[type=submit] {
                background-color: #ffffff;
                border: solid 1px vars.$color_letra_menu;
                padding: 0.5rem 1rem;
                border-radius: 1rem;

                &:hover {
                    outline: solid 2px vars.$color_letra_menu;
                    background-color: vars.$color_fondo_menu;
                }
            }

            button#btnForgotPassword {
                background-color: #ffffff;
                border: solid 1px vars.$color_letra_menu;
                padding: 0.5rem 1rem;
                border-radius: 1rem;

                &:hover {
                    outline: solid 2px vars.$color_letra_menu;
                    background-color: vars.$color_fondo_menu;
                }
            }

            input#recoverMail {
                margin-bottom: 1rem;
            }
        }

    }


}