@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
header div.desktop {
  background-color: #f1e369;
  display: flex;
  justify-content: space-between;
  height: 7rem;
  outline: solid 2px #49382e;
  position: sticky;
  top: 0;
  z-index: 8;
}
header div.desktop a#goToIndex {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
header div.desktop a#goToIndex img {
  width: 10rem;
  height: 10rem;
}
header div.desktop nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header div.desktop nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header div.desktop nav ul li {
  position: relative;
  padding: 1rem;
  color: #49382e;
  background-color: #fffbb4;
  min-width: 9rem;
  border-radius: 1.5rem;
  text-align: center;
  margin: 0.5rem;
  font-size: 1.25rem;
  transition: 0.25s;
}
header div.desktop nav ul li a {
  text-decoration: none;
  color: #49382e;
}
header div.desktop nav ul li:hover {
  background-color: #f7e640;
  outline: solid 5px #fffbb4;
}
header div.desktop nav ul li:hover ul.subMenu {
  display: flex;
  visibility: visible;
  opacity: 1;
}
header div.desktop nav ul.subMenu {
  margin: 0 1rem;
  width: 11rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  left: -1rem;
  z-index: 9;
  background-color: #f1e369;
  padding-bottom: 1rem;
  border-radius: 0 0 2.5rem 2.5rem;
}
header div.desktop nav ul.subMenu li {
  padding: 0.5rem;
  width: 9rem;
  font-size: 1rem;
  background-color: #fffbb4;
}
header div.desktop nav ul.subMenu li:hover {
  background-color: #f7e640;
  outline: solid 2px #fffbb4;
}

@media only screen and (max-width: 1239px) {
  li {
    min-width: 5rem !important;
  }
  li ul.submenu {
    min-width: 7rem !important;
  }
  li * {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 890px) {
  header div.mobile {
    display: flex !important;
  }
  header div.desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 890px) {
  header div.mobile {
    display: none !important;
  }
  header div.desktop {
    display: flex !important;
  }
}
header div.mobile {
  background-color: #f1e369;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  outline: solid 2px #49382e;
  position: sticky;
  top: 0;
  z-index: 8;
  padding: 0 0.5rem;
}
header div.mobile a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
}
header div.mobile a.mobileNav {
  background-color: #fffbb4;
  border-radius: 2rem;
  padding: 0.5rem;
}
header div.mobile a:not(.mobileNav) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  padding-left: 0.5rem;
}
header div.mobile a:not(.mobileNav) img {
  height: 7rem;
  width: 7rem;
}
header div.mobile a img.elementMenu {
  height: 4rem;
  width: 4rem;
}

nav#menuBusqueda {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: margin-left 0.75s;
  width: 15rem;
  position: fixed;
  height: 200vh;
  top: 0;
  bottom: 0;
  background-color: #f1e369;
  padding: 0 2rem 0 1rem;
  border-right: solid 2px #49382e;
  font-size: 0.75rem;
  margin-left: -20rem;
  z-index: 9;
}
nav#menuBusqueda h3 {
  color: #49382e;
}
nav#menuBusqueda input[type=text] {
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: solid 1px #49382e;
  border: 0;
}
nav#menuBusqueda input[type=text]:focus {
  outline: solid 2px #49382e;
}
nav#menuBusqueda fieldset {
  background-color: #fffbb4;
  border: solid 1px #49382e;
  margin: 0.75rem 0;
  min-height: 1rem;
  border-radius: 0.5rem;
}
nav#menuBusqueda fieldset legend {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
nav#menuBusqueda fieldset div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav#menuBusqueda fieldset div.hidden {
  display: none;
}
nav#menuBusqueda fieldset div#inputPrecio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
nav#menuBusqueda fieldset div#inputPrecio.hidden {
  display: none;
}
nav#menuBusqueda fieldset div#inputPrecio input[type=number] {
  width: 8rem;
}
nav#menuBusqueda fieldset div#radioCurrency {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav#menuBusqueda fieldset div#radioCurrency.hidden {
  display: none;
}
nav#menuBusqueda input[type=submit] {
  background-color: #ffffff;
  border: solid 1px #49382e;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
nav#menuBusqueda input[type=submit]:hover {
  outline: solid 2px #49382e;
  background-color: #fffbb4;
}
nav#menuBusqueda.reveal {
  margin-left: 0;
}

footer {
  background-color: #f1e369;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  outline: solid 2px #49382e;
  z-index: 9;
}
footer * {
  margin: 0.4rem;
  font-weight: 300;
  color: #49382e;
}
footer a {
  text-decoration: none;
}
footer ul {
  list-style: none;
  display: flex;
  text-align: center;
  padding: 0;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
}
footer ul li {
  flex-wrap: wrap;
  width: 15rem;
}

main.miCuenta div:has(table) {
  margin: 2rem;
  height: 25rem;
  overflow-y: scroll;
  position: relative;
  z-index: 7;
  width: -moz-fit-content;
  width: fit-content;
}
main.miCuenta div:has(table) table {
  border-collapse: collapse;
  width: 51rem;
  background-color: #FFFFFF;
}
main.miCuenta div:has(table) table thead th {
  background-color: #f7e640;
}
main.miCuenta div:has(table) table tbody th {
  background-color: #f1e369;
}
main.miCuenta div:has(table) table tbody tr:nth-child(2n-1) {
  background-color: #fffcc7;
}
main.miCuenta div:has(table) table img {
  padding: 0.1rem 0;
  height: 24px;
  width: 20px;
  margin: 0;
}
main.miCuenta div:has(table) table button {
  border: solid 1px #49382e;
  border-radius: 5px;
  background-color: #fffcc7;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem 0 0 0;
}
main.miCuenta div:has(table) table td,
main.miCuenta div:has(table) table th {
  border: solid 1px #000000;
  text-align: left;
  padding: 0.1rem 0 0.1rem 0.5rem;
  height: 2rem;
}
main.miCuenta div:has(table) table a {
  text-decoration: none;
  text-align: right;
  font-size: 0.75rem;
  color: #49382e;
  margin-left: 1rem;
}
main.miCuenta div:has(table) table tbody tr:hover {
  outline: solid 0.25rem #49382e;
}
main.miCuenta form#modifyInfo {
  display: flex;
  flex-direction: column;
}
main.miCuenta form#modifyInfo fieldset {
  display: flex;
  margin: 0 0 1rem 0;
  border: solid 1px #49382e;
  border-radius: 1rem;
  justify-content: flex-start;
  align-items: center;
}
main.miCuenta form#modifyInfo input[type=text],
main.miCuenta form#modifyInfo input[type=password] {
  width: 8rem;
}
main.miCuenta form#modifyInfo input[type=mail] {
  width: 15rem;
}
main.miCuenta form#modifyInfo input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: solid 1px #49382e;
  border: 0;
}
main.miCuenta form#modifyInfo input:focus {
  outline: solid 2px #49382e;
}
main.miCuenta form#modifyInfo input,
main.miCuenta form#modifyInfo label {
  margin: 0 0.25rem;
}
main.miCuenta form#modifyInfo input#currentPassword {
  width: 15rem;
}
main.miCuenta form#modifyInfo input[type=submit] {
  margin-top: 1.5rem;
  width: 10rem;
  background-color: #ffffff;
  border: solid 1px #49382e;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
main.miCuenta form#modifyInfo input[type=submit]:hover {
  outline: solid 2px #49382e;
  background-color: #fffbb4;
}
main.miCuenta a:has(button) button {
  margin-top: 1.5rem;
  background-color: #ffffff;
  border: solid 1px #49382e;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
main.miCuenta a:has(button) button:hover {
  outline: solid 2px #49382e;
  background-color: #fffbb4;
}

main.contacto section.boxed p {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
main.contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.contacto form div {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
main.contacto form textarea {
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: solid 1px #49382e;
  border: 0;
  resize: vertical;
}
main.contacto form textarea:focus {
  outline: solid 2px #49382e;
}
main.contacto form input {
  width: 40rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: solid 1px #49382e;
  border: 0;
}
main.contacto form input:focus {
  outline: solid 2px #49382e;
}
main.contacto form input[type=submit] {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 10rem;
  background-color: #ffffff;
  border: solid 1px #49382e;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
main.contacto form input[type=submit]:hover {
  outline: solid 2px #49382e;
  background-color: #fffbb4;
}
main.contacto address {
  font-style: normal;
}
main.contacto address ul {
  list-style: none;
  margin: 0;
}
main.contacto address ul li {
  margin: 0.5rem 0;
}
main.contacto address a {
  text-decoration: none;
  margin: auto;
  color: #000000;
}
main.contacto address iframe {
  margin: 0;
  padding: 0;
  border-radius: 1rem;
  border: 0.2rem solid #49382e;
}

h1 {
  font-size: 2rem;
}

form#formCatProd input[type=search] {
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: solid 1px #49382e;
  border: 0;
  margin: 0.5rem 0.5rem 0.5rem 0;
  width: 30rem;
}
form#formCatProd input[type=search]:focus {
  outline: solid 2px #49382e;
}
form#formCatProd input[type=submit] {
  background-color: #ffffff;
  border: solid 1px #49382e;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0;
}
form#formCatProd input[type=submit]:hover {
  outline: solid 2px #49382e;
  background-color: #fffbb4;
}

div.conjuntoProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
}
div.conjuntoProductos div.producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: solid 0.2rem #49382e;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: 280px;
  margin: 0.5rem;
}
div.conjuntoProductos div.producto a {
  text-decoration: none;
  color: #000000;
  margin: 0;
}
div.conjuntoProductos div.producto.compact {
  width: 200px;
}
div.conjuntoProductos div.producto figure {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.1rem #49382e;
  border-radius: 2rem;
  width: 200px;
}
div.conjuntoProductos div.producto figure img {
  height: 10rem;
  max-width: 10rem;
  margin: 0.2rem;
}
div.conjuntoProductos div.producto figure div.ribbon {
  position: absolute;
  transform: rotate(45deg);
  padding: 0.1rem 10rem;
  top: 1rem;
  right: -12.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.conjuntoProductos div.producto figure div.ribbon.oferta {
  background-color: #FF0000;
}
div.conjuntoProductos div.producto figure div.ribbon.oferta p {
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
}
div.conjuntoProductos div.producto figure div.ribbon.tendencia {
  background-color: #137DC5;
}
div.conjuntoProductos div.producto figure div.ribbon.tendencia p {
  color: #FFFFFF;
  text-align: center;
  font-size: 0.75rem;
}
div.conjuntoProductos div.producto figure div.ribbon.nuevo {
  background-color: rgb(119, 48, 185);
}
div.conjuntoProductos div.producto figure div.ribbon.nuevo p {
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
}
div.conjuntoProductos div.producto h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem;
}
div.conjuntoProductos div.producto p {
  color: #333333;
  text-align: center;
  margin: 0.5rem;
}
div.conjuntoProductos div.producto div.precio {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.conjuntoProductos div.producto div.precio * {
  margin: 1rem 0.2rem;
}
div.conjuntoProductos div.producto div.precio h4 {
  font-size: 1.25rem;
}
div.conjuntoProductos div.producto div.precio h4 span {
  text-decoration: line-through;
  color: #333333;
}
div.conjuntoProductos div.producto select {
  width: 10rem;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
div.conjuntoProductos div.producto select option {
  border-radius: 0.5rem;
}
div.conjuntoProductos div.producto button {
  background-color: #fffbb4;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
div.conjuntoProductos div.producto button:hover {
  background-color: #f1e369;
  outline: solid 2px #49382e;
}

div.paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.paginacion a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: #f1e369;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #49382e;
  transition: 0.1s;
}
div.paginacion a.currentPage {
  outline: solid 2px #49382e;
}
div.paginacion a:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 6px;
  outline: solid 2px #49382e;
}

section#hero {
  min-height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  outline: solid 0.15rem #49382e;
  background: linear-gradient(60deg, #d8f4ff, #d8ffef, #d8ffe0, #d8ffef);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
section#hero img {
  margin: 0;
  width: 25rem;
}
section#hero button {
  background-color: #ffffff;
  border: solid 1px #49382e;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
section#hero button:hover {
  outline: solid 2px #49382e;
  background-color: #f1e369;
}
section#hero h1 {
  font-size: 2rem;
}

section.bigBox {
  max-width: 80vw;
  background-color: #fffff5;
  margin: auto;
  padding: 2rem 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
}
section.bigBox * {
  margin-left: 2rem;
  margin-right: 2rem;
}
section.bigBox h1 {
  margin-bottom: 2rem;
}
section.bigBox img.icoCat {
  max-width: 32px;
  max-height: 32px;
  margin: 0.2rem;
}
section.bigBox ul.cat1 {
  margin-right: 2rem;
  display: flex;
  list-style: none;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: space-around;
}
section.bigBox ul.cat1 li {
  margin: 0;
}
section.bigBox ul.cat1 li ul.cat2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}
section.bigBox ul.cat1 li ul.cat2 > li {
  margin: 0.4rem 0;
}
section.bigBox ul.cat1 a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: black;
  background-color: #fffbb4;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
section.bigBox ul.cat1 a:hover {
  background-color: #f1e369;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
}

div.conjuntoReviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}
div.conjuntoReviews div.review {
  width: 20rem;
  height: 13rem;
  background-color: #FFFFFF;
  border: solid 0.2rem #49382e;
  border-radius: 2rem;
  margin: 0.5rem;
  transition: 0.2s;
}
div.conjuntoReviews div.review * {
  margin: 0.5rem 1rem;
}
div.conjuntoReviews div.review a {
  margin: 0;
  text-decoration: none;
  color: #000000;
}
div.conjuntoReviews div.review img {
  margin: 0;
  height: 16px;
}
div.conjuntoReviews div.review:hover {
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div.infoMisc {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.infoMisc div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  border: solid 0.2rem #49382e;
  border-radius: 2rem;
  flex: 1;
  padding: 0.5rem 2rem;
  height: 5rem;
  transition: 0.2s;
}
div.infoMisc div:hover {
  padding: 0.75rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
div.infoMisc div a {
  margin: 0;
  text-decoration: none;
  color: #000000;
}
div.infoMisc div img {
  height: 64px;
  margin: 0;
}

main.adminMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

table.adminTable {
  border-collapse: collapse;
  max-width: 95vw;
}
table.adminTable ul {
  margin: 0;
  padding: 0.5rem;
}
table.adminTable ul li {
  list-style: none;
}
table.adminTable colgroup col.id {
  width: 5rem;
}
table.adminTable colgroup col.nombre {
  width: 14rem;
}
table.adminTable colgroup col.descripcion {
  width: 24rem;
  font-size: 0.75rem;
}
table.adminTable colgroup col.variantes {
  width: 14rem;
}
table.adminTable colgroup col.galeria {
  width: 12rem;
}
table.adminTable colgroup col.precio {
  width: 6rem;
}
table.adminTable colgroup col.stock {
  width: 5rem;
}
table.adminTable colgroup col.fecha {
  width: 11rem;
}
table.adminTable colgroup col.acciones {
  width: 12rem;
}
table.adminTable colgroup col.productos {
  width: 24rem;
}
table.adminTable colgroup col.estadoPago {
  width: 10rem;
}
table.adminTable colgroup col.estadoEnvio {
  width: 10rem;
}
table.adminTable colgroup col.usuario {
  width: 20rem;
}
table.adminTable td,
table.adminTable th {
  border: solid 1px #000000;
  padding: 0.5rem 0.5rem;
  min-height: 50rem;
}
table.adminTable td.center,
table.adminTable th.center {
  text-align: center;
}
table.adminTable div.centerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
table.adminTable tbody tr:has(td):nth-child(2n+1) {
  background-color: #FFFFFF;
}
table.adminTable tbody tr:has(td):nth-child(2n) {
  background-color: #e6e6e6;
}
table.adminTable tbody tr:has(th) {
  background-color: #bbbbbb;
}
table.adminTable thead {
  background-color: #aaaaaa;
}
table.adminTable img {
  height: 32px;
  width: 32px;
}
table.adminTable button {
  width: 6rem;
}
table.adminTable button.editar {
  background-color: #aaaaaa;
  color: #000000;
}
table.adminTable button.eliminar {
  background-color: #ec2727;
  color: #FFFFFF;
}
table.adminTable button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 6px;
}

dialog#editDialog {
  max-width: 80vw;
}
dialog#editDialog form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
}
dialog#editDialog form input#editName, dialog#editDialog form input#editMail, dialog#editDialog form input#editPassword {
  min-width: 15rem;
}
dialog#editDialog form textarea {
  resize: vertical;
}
dialog#editDialog form label {
  width: 6rem;
}
dialog#editDialog form div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
dialog#editDialog form div fieldset {
  width: 75rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
dialog#editDialog form div fieldset input {
  margin-right: 1rem;
  margin-left: 0;
}
dialog#editDialog form div.imgSelector {
  position: relative;
  width: 64px;
  height: 64px;
  padding: 0.5rem;
}
dialog#editDialog form div.imgSelector img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
dialog#editDialog form div.imgSelector button.imgEditContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
dialog#editDialog form div.imgSelector button.deleteImg {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: solid 1px #000000;
  color: #FFFFFF;
  background-color: #ec2727;
}
dialog#editDialog form div.imgSelector button.deleteImg:hover {
  background-color: #aa0c0c;
  border-radius: 50%;
  border: solid 1px #000000;
  color: #FFFFFF;
}
dialog#editDialog form div.imgSelector button.newImgEdit {
  width: 100%;
  height: 100%;
  border-style: dashed;
  border-radius: 5px;
}
dialog#editDialog form div.imgSelector button:hover {
  background-color: #c5c5c5;
  border-radius: 5px;
}
dialog#editDialog form input[type=submit],
dialog#editDialog form input[type=button] {
  margin-top: 0.5rem;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

main {
  background-color: #fffcc7;
  margin: 0;
  padding: 2rem 0 2rem 0;
}

section.boxed {
  max-width: 960px;
  background-color: #fffff5;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
}
section.boxed h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
section.boxed * {
  margin-left: 2rem;
  margin-right: 2rem;
}
section.boxed p.legal {
  margin-bottom: 3rem;
  text-align: justify;
}
section.boxed iframe {
  margin-top: 1rem;
  border-radius: 1rem;
  border: 0.2rem solid #49382e;
}
section.boxed div.col2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}
section.boxed div.col2 div.variantSelected {
  background-color: #FFFFFF;
  flex: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #49382e;
  border-radius: 1.5rem;
}
section.boxed div.col2 div.variantSelected img {
  height: 192px;
  margin: 0;
}
section.boxed div.col2 div.productInfo {
  border: solid 2px #49382e;
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  flex: 2.5;
  margin: 0;
}
section.boxed div.col2 div.productInfo div.cost {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 1rem;
  gap: 0.5rem;
}
section.boxed div.col2 div.productInfo div.cost div {
  display: flex;
  align-items: center;
  margin: 0;
}
section.boxed div.col2 div.productInfo div.cost div.hidden {
  display: none;
}
section.boxed div.col2 div.productInfo div.cost h2 {
  font-size: 1.25rem;
  margin: 0 0 0 1rem;
}
section.boxed div.col2 div.productInfo div.cost img.material {
  height: 32px;
  margin: 0;
}
section.boxed div.col2 div.productInfo h4,
section.boxed div.col2 div.productInfo h2 {
  margin: 1rem;
}
section.boxed div.col2 div.productInfo p {
  margin: 1rem;
}
section.boxed div.col2 div.productInfo div.variantSelector {
  margin: 1rem;
}
section.boxed div.col2 div.productInfo div.variantSelector button {
  height: 32px;
  width: 32px;
  margin: 0.2rem;
  border-radius: 50%;
  border: solid 2px #cccccc;
}
section.boxed div.col2 div.productInfo div.variantSelector button:hover {
  border: solid 2px #49382e;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varAmarillo {
  background-color: #fdf79c;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varBeige {
  background-color: #e8dfb0;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varNaranja {
  background-color: #fccd9c;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varMarron {
  background-color: #c09f7b;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varNegro {
  background-color: #808080;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varVerde {
  background-color: #89dba1;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varAzul {
  background-color: #94ccde;
}
section.boxed div.col2 div.productInfo div.variantSelector button.varRosa {
  background-color: #fcc8c0;
}
section.boxed div.col2 div.productInfo form {
  margin: 1rem;
}
section.boxed div.col2 div.productInfo form input[type=button] {
  border: 0;
  margin: 0.5rem 0 0rem 0rem;
  padding: 0.75rem 1rem;
  color: #49382e;
  background-color: #fffbb4;
  font-size: 1.25rem;
  border-radius: 1rem;
}
section.boxed div.col2 div.productInfo form input[type=button]:hover {
  background-color: #f7e640;
  outline: solid 2px #49382e;
}
section.boxed div.tecnicalData {
  margin: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
section.boxed div.tecnicalData table {
  width: 100%;
  text-align: center;
  margin: 0;
  border-spacing: 4px 0;
}
section.boxed div.tecnicalData table th {
  background-color: #fffbb4;
  border: solid 2px #49382e;
  border-radius: 1.5rem 1.5rem 0 0;
  border-bottom: 0;
}
section.boxed div.tecnicalData table td {
  background-color: #FFFFFF;
  border-radius: 0 0 1.5rem 1.5rem;
  border: solid 2px #49382e;
  border-top: 0;
}
section.boxed div.description {
  background-color: #FFFFFF;
  margin: 2rem;
  border: solid 2px #49382e;
  border-radius: 2rem;
  padding: 0rem 1rem;
}
section.boxed div.description p {
  text-align: justify;
  margin: 2rem 0;
}

dialog#chooseDialog {
  border-radius: 2rem;
  border: solid 2px #49382e;
}
dialog#chooseDialog form {
  padding: 0.5rem;
}
dialog#chooseDialog form input {
  margin: 1rem 0;
  border: 0;
  padding: 0.75rem 1rem;
  color: #49382e;
  background-color: #fffbb4;
  border-radius: 1.5rem;
}
dialog#chooseDialog form input:hover {
  background-color: #f7e640;
  outline: solid 2px #49382e;
}

main.login {
  text-align: center;
  overflow: hidden;
}
main.login div.login {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
main.login div.login div.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
main.login div.login div.column div.hidden {
  display: none;
}
main.login div.login div#recoverPassword {
  margin: 0;
}
main.login div.login div form {
  text-align: left;
  width: 18rem;
  padding: 3rem 1rem;
  border-radius: 2rem;
  border: solid 2px #49382e;
  background-color: #fffbb4;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main.login div.login div form input[type=text],
main.login div.login div form input[type=password],
main.login div.login div form input[type=mail] {
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: solid 1px #49382e;
  border: 0;
  color: #49382e;
}
main.login div.login div form input[type=text]:focus,
main.login div.login div form input[type=password]:focus,
main.login div.login div form input[type=mail]:focus {
  outline: solid 2px #49382e;
}
main.login div.login div form div {
  display: flex;
  align-items: center;
  margin: 0.5rem 2rem;
}
main.login div.login div form div input[type=checkbox] {
  margin: 0;
}
main.login div.login div form div label {
  margin: 0 0 0 0.5rem;
  font-size: 0.65rem;
}
main.login div.login div form input[type=submit] {
  background-color: #ffffff;
  border: solid 1px #49382e;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
main.login div.login div form input[type=submit]:hover {
  outline: solid 2px #49382e;
  background-color: #f1e369;
}
main.login div.login div form button#btnForgotPassword {
  background-color: #ffffff;
  border: solid 1px #49382e;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
main.login div.login div form button#btnForgotPassword:hover {
  outline: solid 2px #49382e;
  background-color: #f1e369;
}
main.login div.login div form input#recoverMail {
  margin-bottom: 1rem;
}

div#shoppingCart {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 1rem;
  background-color: #f1e369;
  border-radius: 50%;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
div#shoppingCart div#numItems {
  background-color: #008000;
  position: fixed;
  padding: 0.5rem;
  border-radius: 50%;
  right: 1rem;
  bottom: 1rem;
  color: #FFFFFF;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}
div#shoppingCart img {
  width: 4rem;
  height: 4rem;
}/*# sourceMappingURL=style.css.map */